*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    color: white;
    /* transition: all 400ms ease; */
}

body{
    background-color: rgb(0, 0, 33);
    /* background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
    
    color: white;
}

html{
    scroll-behavior: smooth;
}

/* transition */
a,
.btn{
    transition: all 300ms ease;
}

/* header */
/* desktop nav */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(18, 18, 62);
    /* background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
}

header{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 9999;
}

main{
    padding-top: 5%;
}


nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.4rem;
    text-decoration: underline;
}

.left{
    font-size: 2rem;
    cursor: pointer;
}


/* hamburger-menu nav-mobile */
/* #hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width:fit-content ;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform : rotate(45deg) translate(10px 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform : rotate(-45deg) translate(10px -5px);    
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
} */




/* main */

.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.firstsection > div{
    width: 35%;
}

.leftsection{
    font-size: 3rem;
}

.rightsection img{
    width: 80%;
}

.purple{
    color: blueviolet;
}

#element{
    color: blueviolet;
}

.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}


/* about */
.section-container{
    display: flex;
}
.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    justify-content: center;
}

.about-details-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .section__text{
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight: 600;
} */

.section__text__p1{
    text-align: center;
}

/* .section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
} */

.title{
    font-size: 3rem;
    text-align: center;
}

.about-pic{
    max-width: none !important ;
    margin-left: 100px;
}

.icon{
    width: 50px;
    /* margin-left: 70px; */
}


#about{
    position: relative;
}

.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container{
    display: flex;
    align-items: center;
}

.about-pic{
    border-radius: 2rem;
}

/* .icon-arrow{
    position: absolute;
    right: -0rem;
    bottom: 1.5rem;
    height: 40px;
    width: 40px;
} */

.details-container{
    padding: 1.5rem;
    flex: 1;
    color: blueviolet;
    /* background: rgb(42, 80, 99); */
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 40px;
}

.section-container{
    gap: 4rem;
    height: 80%;
}


/* skills */
#skills{
    position: relative;
    margin-top: 80px;
    margin-bottom: 2rem;
    height: 500px;
}

.skills-subtitle{
    color: white;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.skills-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.details-container1{
    padding: 1.5rem;
    flex: 1;
    color: blueviolet;
    /* background: rgb(42, 80, 99); */
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 40px;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}


/* courses */

#popular_courses{
    position:relative ;
    margin-top: 50px;
    margin-bottom: 2rem;
    height: 1000px;
}

.courses_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 940px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    /* border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163); */
}

.container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 95%;
    /* border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163); */
}

.container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 95%;
    /* border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163); */
}

.course{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 45%;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
}


.course img{
    height: 70%;
    width: 70%;
    /* background-color: red; */
}


button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    font-weight: 600;
    border: solid blueviolet;
}

button:hover{
    cursor: pointer;
    background-color: black;
    font-size: larger;
}



/* FAQs */

.faqs{
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    /* background: rgba(85, 40, 121, 0.712); */
    background-color: #424890;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 40px;
}

.text{
    text-align: center;
    padding-bottom: 20px;
}

.faq h4{
    font-size: 1rem;
    line-height: 2.2rem;
}

.faq__icon{
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p{
    margin-top: 0.8rem;
    /* display: none; */
}

.faq.open p{
    display: block;
}


/* footer */

footer{
    height: 26vh;
}

footer p{
    text-align: center;
}
